################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/VideoScreensaver
/Debug
/.vs
/Installer/Install Files/VideoScreensaver.scr
/Release
/Installer/Media/SINGLE_EXE_IMAGE
/Installer/VideoScreensaver.ism.776
*.aps
